html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-word;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

svg {
  display: block;
}

iframe {
  border: 0;
}

input {
  &::-ms-clear {
	display: none;
  }
}

button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  width: auto;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
  text-rendering: optimizeLegibility;
}

html, body {
  position: relative;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

html, input, textarea, button {
  color: $c-black;
  font: {
    family: $t-default;
    size: $base-font-size;
    weight: 400;
  }
  line-height: 1.5;
}

*::placeholder {
  font-family: $t-default;
}

a {
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: all .3s ease-in-out;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }
}

b, strong {
  font-weight: 600;
}